body {
	background-color:#f4f4f4;
	font: normal 1rem Inconsolata, monospace;
	/* color: #813ddc; */
	color:#7f00ff;
}

h1 {
	color: #b30000;
	background-color: yellow;
	border: .1em solid #000;
	border-radius: .5em;
	padding: .1em;
}

h4 {
	margin: .5em 0em;
}

a{
	text-decoration: none;
}

a:hover {
	color:yellow;
}

a:active{
}

button {
	color:#7f00ff;
}

.create {
	color:#7f00ff;
}
