/* * {
	padding: 0;
	margin: 0;
} */

head {
	padding:0;
}

body {
	background-color:#f4f4f4;
	margin:0;
	font: normal 1rem Inconsolata, monospace;
}

a{
	text-decoration: none;
	color: #ddd;
}

a:hover {
	color:yellow;
}

#main-nav-bar {

}

.sub-nav {

}

.navbar {
	background-color: #563d7c;
	color: #ddd;
	padding:.5em;
}

.navbar-list {
	display: flex;
	flex-wrap:nowrap;
	height: 100%;
}

.navbar-list ul{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 20em;
}
.navbar-list li {
	color:#ddd;
	margin: none;
	padding: 1em, .25em;
	justify-content: space-between;
	align-self: center;
	width: 30%;
	height: 30%;

}

.logo {/* 
	margin-right:1px;
	padding-top: .25em;
	padding-bottom: .25em; */
	align-self: bottom;
	padding-top: .25em;
	padding-bottom: .25em;
	height: 2.25em;
	width: 2.25em;
	border:"0";
	display: block;

	/* https://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image */
}

.login, .createNew{
	border-radius:10px;
	padding:1rem;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0px 0px 10px grey;
}

footer {
	background-color:#dddddd;
	box-shadow: 0 50vh 0 50vh #dddddd;
}
